/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} 
textarea {overflow:auto;}

/***** RESET *****/

.contain,.info,section,footer{
    width: 75vw;
    max-width: 1140px;
}


body {
    height: auto;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: url(img/tezgah.jpeg);
    overflow:scroll;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }
  body::before {
    filter: brightness(0.7); 
  }  

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: rgb(216,169,10);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.info{
    margin-top: 2px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.socialMedia{
    margin-right: 10px;
    }
.icons{
    font-size: 30px;
    margin-right: 5px;
}
#num{
        width: 75%;
}
    
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    border: 1.5px solid black;
    padding: 9px;
    width: 120px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    margin-top: 15px;
    background-color: rgb(43, 42, 42);
    font-family: 'Dancing Script', cursive;
}
nav ul li:hover {
    background-color:rgb(216,169,10) ;
   
}
nav ul li a {
    text-decoration: none;
    color:rgb(216,169,10);
}

nav ul li:hover a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 100px;
    border-radius: 50%;
    margin-left: 25px;
}

section{
    margin-top: 10px;
    height: 65vh;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: #f9f9f9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.but{
border: 0;
background-color: transparent;
font-size: 30px;
margin: 0 10px;
}
.but:focus{
border: 0;
outline: 0;
}
.section1{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.imgs{
width:35vw ;
height:55vh ;
display: flex;
align-items: center;
justify-content: center;
margin-top: 3%;
border-radius: 15px;
 
}
#imgSec{
background-size: cover; 
background-position: center;
width:35vw ;
height:55vh ;
border-radius: 15px;
box-shadow: 2px 2px 15px rgb(216,169,10);
    
}

.circle{
width: 40px;
height: 40px;   
border-radius: 50%;
position: absolute;
top: 50%;
    
}
.circle:active{
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color: #dcd8d8;
border-radius: 50%;
top: 50%;

}

.r{
margin-left:20px ;
left: 74%;
}
.l{
margin-right: 20px;
right: 75%;
}


.contact{
background-color: rgb(216,169,10);
border: 1px solid black;
box-shadow: 1px 2px 3px black;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

.tt{
text-align: left;
font-size: 18px;
margin: 20px 0px 0px 20px ;
}

#iletisim{
width: 100%;
height: 100%;
}
#konum{
width: 50%;
height: 100%;
}
.card-info{
background-color: #f9f9f9;
border: 1px solid black;
box-shadow: 1px 2px 3px black;
height: 10vh;
margin-top: 3px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
}
.card{
    height: 56.25px;
    width: 131.25px;
    margin-right: 3px;
    border: 0px;
}
footer{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.aboutText{
    width: 90%;
    margin: 5px auto 0px auto;
    padding: 5px;
}
.caption{
    display: none;
}
@media(max-width: 390px){

    nav{
        width: 320px; margin: 60px auto 0px auto;
    }
    nav ul{
        display: flex;
        justify-content: center;
    } 
    nav ul li{
        font-size: 10px;
        width: 35px;
        padding: 1px;
        margin-right: 5px;
    }
    nav ul li:nth-last-child(1){
        margin-right:45px ;
    }    
    .card{
        margin-right: 1px;
        height: 36px;
        width: 84px;
        } 
}
  
@media(max-width: 541px) {
    body{
        overflow: hidden;
    }
    body.active{
        overflow: scroll;
    }
.caption{
    display: inline;
    color: #dcd8d8;
    font-size: 8px;
}
.caption.active{
    display: none;
}
.aboutTextD{
    height: 50vh; 
    overflow: scroll;
}
.tt{
    font-size: 12px;
    margin: 10px 0px 0px 20px;
    display: inline;
    cursor: pointer;
}
.card{
margin-right: 1px;
height: 45px;
width: 105px;
}
.card-info{
background-color: #dfdfdf;
}
.cardLisans{
    position: absolute;
    bottom: 11%;
    left: 25px;
    font-size: 8px;
}    
#logo{
    width: 60px;
    position: absolute;
    top: 28px;
    left: 40px;
}

nav{
    width: 420px; margin: 60px auto 0px auto;
}
nav ul{
    display: flex;
    justify-content: center;
} 
nav ul li{
    font-size: 13px;
    width: 70px;
    padding: 1.5px;
    margin-right: 10px;
}
nav ul li:nth-last-child(1){
    margin-right:45px ;
}   
section {
  height: 50vh; 
}
.infoText{
    font-size: 12px;
    margin-right: 4px;
}
#num{
    width: 40%;
    font-size: 12px;
}
.icons{
    font-size:25px ;
    
}
.contain,.info,section,footer,nav{
    width: 97vw;
    max-width: 97vw;
}    
.businessN{
   position: absolute;
   left: 45%;
   top: 40px;
   font-size:15px ;
   line-height: 15px;
   font-family: 'Dancing Script', cursive;
}
.logo{
    margin-left: 25px;
}
.imgs,#imgSec{
   width: 45vw;
   height: 30vh;
   margin-top: 8%;
}
.cardLisans{
    display: none;
}
.contact{
height: 5vh;
}
.contact.active{
height: 20vh;
}
.cardLisans.active{
    display: inline;
}
  }

@media(min-width:541px){
.cardLisans{
font-size: 13px;
}
.contain,.info,section,footer,nav{
width: 97vw;
max-width: 97vw;
}        

.businessN{
   position: absolute;
   left: 45%;
   top: 40px;
   font-size:20px ;
   line-height: 18px;
   font-family: 'Dancing Script', cursive;
}
#logo{
    width: 70px;
    position: absolute;
    top: 26px;
    left: 20px;
}    
nav{
    width: 520px; margin: 60px auto 0px auto;
}
nav ul{
    display: block;
} 
nav ul li{
    font-size: 15px;
    width: 90px;
    padding: 5px;
    float: left;
}
nav ul li:nth-last-child(1){
    margin-right:0px ;
}   
nav ul li a{
    display: block;
}
.icons{
    font-size:25px ;
    
}
#num{
    width: 60%;
    font-size: 12px;
}
.imgs,#imgSec{
    width: 60vw;
    height: 50vh;
    margin-top: 8%;
 }
 .r{
    margin-left:20px ;
    left: 78%;
    }
    .l{
    margin-right: 20px;
    right: 79%;
    }
    
}