/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} 
textarea {overflow:auto;}

/***** RESET *****/

.contain,.info,section,footer{
    width: 75vw;
    max-width: 1140px;
}


body {
    height: auto;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-image: url(img/tezgah.jpeg);
    
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Karartma katmanı */
    z-index: -1; /* Resmin altında kalacak */
  }
  body::before {
    filter: brightness(0.7); /* 0.7 parlaklık değeri, 0 ile 1 arasında değer alabilir */
  }  

.contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: rgb(216,169,10);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.info{
    margin-top: 2px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.socialMedia{
    margin-right: 10px;
      
    }
.icons{
    font-size: 30px;
    margin-right: 5px;
    
}
#num{
        width: 75%;
}
    
nav ul {
    list-style: none;
    display: flex;
   
}

nav ul li {
    border: 1.5px solid black;
    padding: 9px;
    width: 120px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    margin-top: 15px;
    background-color: rgb(43, 42, 42);
    font-family: 'Dancing Script', cursive;
}
nav ul li:hover {
    background-color:rgb(216,169,10) ;
   
}
nav ul li a {
    text-decoration: none;
    color:rgb(216,169,10);
}

nav ul li:hover a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 100px;
    border-radius: 50%;
    margin-left: 25px;
}

section{
    margin-top: 10px;
    height: 65vh;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: #f9f9f9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.but{
    border: 0;
    background-color: transparent;
    font-size: 30px;
    margin: 0 10px;
    /* position: absolute;
    top: -160%; */

}
.but:focus{
    border: 0;
    outline: 0;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgs{
    width:35vw ;
    height:55vh ;
    display: flex; /* Flexbox'u etkinleştirir */
    align-items: center; /* Dikeyde hizalama */
    justify-content: center; /* Yatayda hizalama */
    margin-top: 3%;
    /* box-shadow: 2px 2px 15px rgb(216,169,10); */
    border-radius: 15px;
 
}
#imgSec{
    background-size: cover; 
    background-position: center;
    width:35vw ;
    height:55vh ;
    border-radius: 15px;
    box-shadow: -2px -2px 15px rgb(216,169,10);
    
}

.circle{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
    position: absolute;
    top: 50%;
    
}
.circle:active{
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color: #dcd8d8;
border-radius: 50%;
top: 50%;

}

.r{
    margin-left:20px ;
    left: 79%;
}
.l{
    margin-right: 20px;
    right: 80%;
}


.contact{
    background-color: rgb(216,169,10);
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tt{
text-decoration: underline;
text-align: left;
font-size: 18px;
}

#iletisim{
width: 100%;
height: 100%;
}
#konum{
width: 50%;
height: 100%;
}
.card-info{
    background-color: #f9f9f9;
    border: 1px solid black;
    box-shadow: 1px 2px 3px black;
    height: 10vh;
    margin-top: 3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 56.25px;
    width: 131.25px;
    margin-right: 3px;
    border: 0px;
}
footer{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.aboutText{
    width: 90%;
    margin: 5px auto 0px auto;
    padding: 5px;
}
@media(max-width: 383px){

nav ul{
    position: absolute;
    right:0px;
    top: 92px;
}      
}
  
@media(max-width: 480px) {
.aboutTextD{
    height: 50vh; 
    overflow: scroll;
}
.tt{
    font-size: 12px;
    margin: 10px 0px 0px 20px;
    display: inline;
    cursor: pointer;
}
.card{
margin-right: 1px;
height: 45px;
width: 105px;
}
.card-info{
background-color: #dfdfdf;
}
.cardLisans{
    position: absolute;
    bottom: 11%;
    left: 25px;
    font-size: 8px;
}    
#logo{
    width: 60px;
    position: absolute;
    top: 32px;
    left: 40px;
}
nav ul{
    position: absolute;
    left: 15px;
    top: 92px;
}    
nav ul li{
    font-size: 12px;
    width: 60px;
    padding: 1px;
    
}
section {
  height: 50vh; 
}
.infoText{
    font-size: 12px;
    margin-right: 4px;
}
#num{
    width: 40%;
    font-size: 12px;
}
.icons{
    font-size:25px ;
    
}
.contain,.info,section,footer,nav{
    width: 97vw;
    max-width: 97vw;
}    
.businessN{
   position: absolute;
   left: 45%;
   top: 40px;
   font-size:15px ;
   line-height: 15px;
   font-family: 'Dancing Script', cursive;
}
.logo{
    margin-left: 25px;
}
.imgs,#imgSec{
   width: 60vw;
   height: 40vh;
   margin-top: 8%;
}
.cardLisans{
    display: none;
}
.contact{
height: 5vh;
}
.contact.active{
height: 20vh;
}
.cardLisans.active{
    display: inline;
}
  }

